.answer-button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.answer-button:hover {
    background-color: #45a049;
}

#share-button {
    background-color: #1DA1F2;
    color: white;
    font-size: 18px;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

#share-button:hover {
    background-color: #0d8ce0;
}